

<app-navbar1></app-navbar1>
<div class="table-wrapper">
<u>  <B><h2 class="text-center">  Demands Received for Onboardees</h2></B></u>
<br>

<div class="row">
  <div class="col-sm-6" *ngFor="let demand of demands">
    
      <div class="shadow p-3 mb-5 bg-white rounded"  fxFlex="30">
      <div class="card-body" >
        <mat-card-title class="no-margin">{{demand.did}} | {{demand.role}}</mat-card-title>
              <div fxLayout="row">
        <span style="font-weight: bold;">Hiring Manager:&nbsp;&nbsp;</span>
        <div>{{demand.mname}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Team:&nbsp;&nbsp;</span>
        <div>{{demand.dept}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Location:&nbsp;&nbsp;</span>
        <div>{{demand.location}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Skills Required:&nbsp;&nbsp;</span>
        <div>{{demand.skills}}&nbsp;&nbsp;</div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>

<!-- </div> -->