
<app-navbar1></app-navbar1>

<div class="container-lg">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="row title">
        <div class="col-sm-6">
          <h2 class="font-weight-light h1"> <b> <u> Onboardee Details </u></b></h2>
        </div>
        <div class="col-sm-4">
          <div class="search-box">
            <i class="material-icons" style="padding-top: 14px;">&#xE8B6;</i>
            <input type="text" class="form-control"    id="serchbyname" placeholder="Search by Name" [(ngModel)]="nameSearch">
          </div>
        </div>
         
      </div>

      <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let candidate of candidates | paginate: { itemsPerPage: 5, currentPage: p } | filterbyname : nameSearch">
            <td>{{candidate.id}}</td>
            <td>{{candidate.firstname}}</td>
            <td>{{candidate.lastname}}</td>
            <td>{{candidate.city}}</td>
            <td>
               
                <a class="view" title="View" data-toggle="tooltip"(click)="viewCandidate(candidate.id)"><i class="material-icons">&#xE417;</i></a>
              <a class="edit" title="Edit" data-toggle="tooltip" (click)="updateCandidate(candidate.id)"><i
                  class="material-icons">&#xE254;</i></a>
              <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteCandidate(candidate.id)"><i
                  class="material-icons">&#xE872;</i></a>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table> 
    </div>
  </div>
</div> 