

<app-navbar1></app-navbar1>
<div class="table-wrapper">
     
<div class="container">
    <h1 class="font-weight-light h1">Update Details </h1>
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="multistep" >

        <div class="form-row" formGroupName="updateDetails1">
            <div class="col-md-4 mb-3">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" formControlName="firstname" id="inputfname" placeholder="First Name" required
                    [(ngModel)]="candidate.firstname" >
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.firstname.errors?.required">Please Enter First Name</span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" formControlName="lastname" id="inputPassword4" placeholder="Last Name" required
                    [(ngModel)]="candidate.lastname" >
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.lastname.errors?.required">Please Enter Last Name</span>
            </div>

            <div class="col-md-4 mb-3">
                <label for="inputDOB">DOB</label>
                <input type="date" class="form-control" formControlName="birthdate" id="inputDOB" required [(ngModel)]="candidate.birthdate"  >
                <span  class="text-danger" *ngIf="submitted && updateDetails1.birthdate.errors?.required">Please Enter Birthdate</span>
            </div>
        </div>
        <div class="form-row" formGroupName="updateDetails1">
            <div class="form-group col-md-6">
                <label for="inputConatact">Contact</label>
                <input type="text" class="form-control" formControlName="phoneno" id="inputContact" required [(ngModel)]="candidate.phoneno">
                <span  class="text-danger" *ngIf="submitted && updateDetails1.phoneno.errors?.required">Please Enter Phone no</span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="example@gmail.com" required
                    [(ngModel)]="candidate.email" >
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.email.errors?.required">Please Enter Email</span>
            </div>

            <div class="col-md-4 mb-3">
                <label for="lname">City</label>
                <input type="text" class="form-control" formControlName="city" id="inputPassword4" placeholder="City" required
                    [(ngModel)]="candidate.city" >

                    <span  class="text-danger" *ngIf="submitted && updateDetails1.city.errors?.required">Please Enter City</span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="inputDOB">Joining Date</label>
                <input type="text" class="form-control" formControlName="date" id="inputPassword4" placeholder="Joining Date" required
                    [(ngModel)]="joiningdetails.date" >

                    <span  class="text-danger" *ngIf="submitted && updateDetails1.date.errors?.required">Please Enter joining date</span>
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="lname">Joining Location</label>
                <input type="text" class="form-control" formControlName="location" id="inputPassword4" placeholder="Joining Location" required
                    [(ngModel)]="joiningdetails.location" >
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.location.errors?.required">Please Enter Joining Location</span>
            </div> -->

        </div>

        


        <div class="form-row" formGroupName="updateDetails1">
            
            <div class="form-group col-md-4 mb-3">
                <label>Skill</label>
                <select class="custom-select" [(ngModel)]="joiningdetails.technology" formControlName="technology" placeholder="Select Skills">
                    
                    <option selected>{{demandsdetails.skills}}</option>
                    <option value="Java">Java</option>
                    <option value="C++">C++</option>
                    <option value="Python">Python</option>
                    <option value="Spring Boot">Spring Boot</option>
                    <option value="Angular">Angular</option>
                    <option value="MySql">Mysql</option>
                </select>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label>Joining Location </label>
                <select class="custom-select" [(ngModel)]="joiningdetails.location" formControlName="location">
                    <option selected>{{joiningdetails.location}}</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Banglore">Banglore</option>
                    <option value="Hydrabad">Hydrabad</option>
                    <option value="Pune">Pune</option>
                </select>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label>Hiring Manager</label>
                 <select class="custom-select" [(ngModel)]="demandsdetails.mname" formControlName="mname">
                    <option selected>{{demandsdetails.mname}}</option>
                    <option *ngFor="let man  demandsdetails"value={{man.did}}>{{man.mname}}</option>
                    <option value="S K">S K</option>
                    <option value="V K">V K</option>
                    <option value="R K">R K</option> 
                </select> 
            </div> 
        </div>
        <div class="form-row align-items-center" formGroupName="updateDetails1">
            <div class="col-auto">

                <label>BCG Status</label>
                <select class="custom-select" [(ngModel)]="onboardingDetails.bcgStatus" formControlName="bcgStatus">
                    <option selected>{{onboardingDetails.bcgStatus}}</option>
                    <option value="Done">Done</option>
                    <option value="Pending">Pending</option>
                </select>
                <!-- <div class="form-check" *ngIf="onboardingDetails.bcgStatus == 'true' ; else bcgcheckbox" >
                    BCG : <i class="material-icons" style="font-size: 15px; color: #0755ff; ">&#xe86c;</i>
                   </div>
                   
                    <ng-template #bcgcheckbox>
                        <label for="BCG">BCG</label>
                        <input type="checkbox" style= "margin-left: 5px;" name="bcg" [(ngModel)]="onboardingDetails.bcgStatus" formControlName="bcgStatus" unchecked>
                    </ng-template> -->
                <!-- <div class="form-check ">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">BCG</label>
                </div> -->
            </div>
            <div class="col-auto">
                <label>Graduation Status</label>
                <select class="custom-select" [(ngModel)]="onboardingDetails.graduationStatus" formControlName="graduationStatus">
                    <option selected>{{onboardingDetails.graduationStatus}}</option>
                    <option value="Done">Done</option>
                    <option value="Pending">Pending</option>
                </select>
                
            </div>
            <div class="col-auto">

                <label>ETA Status</label>
                <select class="custom-select" [(ngModel)]="onboardingDetails.etaStatus" formControlName="etaStatus">
                    <option selected>{{onboardingDetails.etaStatus}}</option>
                    <option value="Done">Done</option>
                    <option value="Pending">Pending</option>
                </select>

            </div>
          
        </div>

        <div class="col-sm-15">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </form>
</div>
</div> 