

<app-navbar1></app-navbar1>
<div class="table-wrapper" >
<h2 mat-dialog-title>{{candidate.firstname}}'s Details</h2>
<mat-dialog-content class="mat-typography">
  <div class="container" >
    <div class="row">
      <div class="col-md-3">
        <h3>Personal Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID: {{candidate.id}}</li>  
          <li class="list-group-item">First Name: {{candidate.firstname}}</li>
          <li class="list-group-item">Last Name: {{candidate.lastname}}</li>
          <li class="list-group-item">Email: {{candidate.email}}</li>
          <li class="list-group-item">Mobile Number: {{candidate.phoneno}}</li>
          <li class="list-group-item">Date of Birth: {{candidate.birthdate}}</li>
          <li class="list-group-item">City: {{candidate.city}}</li>
          <li class="list-group-item">Country: {{candidate.country}}</li>
          
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Joining Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Joining Date: {{joiningdetails.date}}</li>
          <li class="list-group-item">Technology: {{joiningdetails.technology}}</li>
          <li class="list-group-item">Location {{joiningdetails.location}}</li>
          <li class="list-group-item">Feedback: {{joiningdetails.feedback}}</li>
         
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Onboarding Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Onboarding Date: {{onboardingdetails.onboardingDate}}</li>
          <li class="list-group-item">BGC Status: {{onboardingdetails.bcgStatus}}</li>
          <li class="list-group-item">Onboarding ETA Status: {{onboardingdetails.etaStatus}}</li>
          <li class="list-group-item">Graduation Status: {{onboardingdetails.graduationStatus}}</li>
  
         
        </ul>
      </div>
      <div class="col-md-3" >
        <h3>Demand Details</h3>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item">Demand ID: {{demandsdetails.did}}</li>
          <li class="list-group-item">Roler: {{demandsdetails.role}}</li>
          <li class="list-group-item">Departmenr: {{demandsdetails.dept}}</li>
          <li class="list-group-item">Hiring Manage: {{demandsdetails.mname}}</li>
          <li class="list-group-item">Location {{demandsdetails.location}}</li>

        </ul>
      </div>
    </div>
  </div>
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  
    
</mat-dialog-actions>

<div class="col-sm-10">
  <button (click)="back()" class="btn btn-primary">Back</button>
</div>
</div>