<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Onboaree Candidates</a>
        </li>
        <li class="nav-item">
            <a routerLink="add" routerLinkActive="active" class="nav-link">Add Candidate</a>
        </li>
        
        <li class="nav-item">
            <a routerLink="trends" routerLinkActive="active" class="nav-link">Trends</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">MS AU Onboarding Portal</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
 -->


 
 <div class="container">
  <router-outlet></router-outlet>
</div>

