<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Onboaree Candidates</a>
        </li>
        <li class="nav-item">
            <a routerLink="add" routerLinkActive="active" class="nav-link">Add Candidate</a>
        </li>
        
        <li class="nav-item">
            <a routerLink="trends" routerLinkActive="active" class="nav-link">Trends</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">MS AU Onboarding Portal</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
 -->


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a routerLink="home" routerLinkActive="active" class="nav-link">Onboaree Candidates</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" routerLinkActive="active" class="nav-link">Add Candidate</a>
        </li>
        <li class="nav-item">
          <a routerLink="trends" routerLinkActive="active" class="nav-link">Trends</a>
         
        </li>

        <li class="nav-item">
          <a routerLink="demands" routerLinkActive="active" class="nav-link">Demands</a>
         
        </li>
  
      </ul>
    </div>
  </nav>
  <h1 class="text-center">MS AU Onboarding Portal</h1>
 
 
<div class="container">
    <router-outlet></router-outlet>
</div>


